###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
*/v15
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
KADK ETM2 Co-lab/ProjectSettings/ProjectVersion.txt
KADK ETM2 Co-lab/Assets/PlayMaker/Editor/Resources/EditorStartupPrefs.asset
KADK ETM2 Co-lab/Assets/Prefabs/rogue.prefab
KADK ETM2 Co-lab/Assets/Prefabs/slime.prefab
KADK ETM2 Co-lab/Assets/Prefabs/wizard.prefab
KADK ETM2 Co-lab/Assets/Sprites/Cornelia/Characters/Fairy lady 2.psd.meta
KADK ETM2 Co-lab/Assets/Sprites/Cornelia/Characters/Fairy lady part fixed.png.meta
KADK ETM2 Co-lab/Assets/Sprites/Oliver/Monkey/Monkey.png
KADK ETM2 Co-lab/Assets/Sprites/Oliver/Monkey/Monkey.png.meta
KADK ETM2 Co-lab/Assets/Sprites/Oliver/Monkey/Monkey_0.controller
KADK ETM2 Co-lab/Assets/Sprites/Oliver/Monkey/Monkey_0.controller.meta
KADK ETM2 Co-lab/Assets/Sprites/Oliver/Monkey/monkey_attack1.anim
KADK ETM2 Co-lab/Assets/Sprites/Oliver/Monkey/monkey_attack1.anim.meta
KADK ETM2 Co-lab/Assets/Sprites/Oliver/Monkey/monkey_idle.anim
KADK ETM2 Co-lab/Assets/Sprites/Oliver/Monkey/monkey_idle.anim.meta
KADK ETM2 Co-lab/Assets/Sprites/Oliver/Monkey/monkey_walk.anim
KADK ETM2 Co-lab/Assets/Sprites/Oliver/Monkey/monkey_walk.anim.meta
KADK ETM2 Co-lab/.vs/KADK ETM2 Co-lab/v15/Server/sqlite3/db.lock
Rapport02/~rapport02v0~y)2$ux.idlk
